<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8" /> 
  <title>OpenLayers 3 + Angular</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Bootstrap -->
  <script src="vendor/jquery.min.js"></script>
  <link href="vendor/bootstrap.min.css" rel="stylesheet"/>
  <script src="vendor/bootstrap.min.js"></script>
  
  <!-- OpenLayers -->
  <script src="vendor/ol-debug.js"></script>
  <!-- <script src="vendor/ol.min.js"></script> -->
  <link rel="stylesheet" href="vendor/ol.css" />

  <!-- Angular -->
  <script src="vendor/angular.min.js"></script>
  <script src="vendor/angular-sanitize.min.js"></script>
  <script src="vendor/ui-bootstrap-tpls-0.12.0.min.js"></script>
  
  <!-- Application -->
  <script src="app/app.js"></script>
  <script src="app/MainController.js"></script>
  <script src="app/mapService.js"></script>
  <script src="app/highlightFilter.js"></script>
  <script src="app/multipleFilter.js"></script>
  <link href="assets/css/style.css" rel="stylesheet" />

  <script src="vendor/angular-material-icons.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css' />

</head>

<body ng-controller="mainController as mc">
  <div id="map"></div>
  <div class="row-fluid">
    <tabset class="tabset">
      <div><a class="pull-right vcenter" ng-show="mc.search.length>0" ng-click="mc.cancelSearch()">Cancel Search</a></div>
      <tab heading="Search" active="mc.staticTabs.search">
        <div class="search-tab">
        <div class="input-group">
          <span class="input-group-addon"><ng-md-icon icon="search" style="fill: #000;" size="18"></ng-md-icon></span>
          <input type="text" class="form-control" ng-model="mc.search" ng-model-options="{ debounce: 1000 }" aria-describedby="inputGroupSuccess1Status">
          <div class="input-group-addon">
            <span ng-show="mc.features.length>0"><span>{{filtered.length}}</span> Result/s</span>
          </div>
        </div>
        
        <div class="list" ng-show="filtered.length>0">
          <ul>
            <li ng-repeat="f in filtered = (mc.features | multiple: mc.search)" class="feature-result" ng-click="mc.selectFeature(f.name);">
              <div>
                <span>{{f.name}}</span>
              </div>
            </li>
          </ul>
        </div>
        </div>
      </tab>
      <tab heading="Details" active="mc.staticTabs.details">
        <div class="span4 offset4 details-tab">
          <div ng-show="mc.feature">
            <h2><span ng-bind-html="mc.feature.name | highlight:mc.search"></span></h2>
            <p ng-bind-html="mc.feature.description | highlight:mc.search"></p>
          </div>
          <div ng-show="!mc.feature">
            <h2>No Details available.</h2>
            <p>Select a marker on the map to see the details.</p>
          </div>
        </div>
      </tab>
    </tabset>
    
  </div>
  <div style="display: none;">
    <!-- Popup -->
    <div id="popup"></div>
  </div>
  <!-- move to template -->
  <!-- https://klarsys.github.io/angular-material-icons/ -->
  <div id="svgmarker" ng-show="mc.features>0">
    <ng-md-icon icon="room" style="fill: #7b98bc;" size="64"></ng-md-icon>
  </div>
  <!-- svg shadow filter definition -->
  <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
    <filter id="blur" y="-2" height="64" x="-10" width="150">
      <feoffset in="SourceAlpha" dx="0" dy="0.25" result="offset2"></feoffset>
      <fegaussianblur in="offset2" stdDeviation="0.5" result="blur2"></fegaussianblur>
      <femerge>
        <femergenode in="blur2"></femergenode>
        <femergenode in="SourceGraphic"></femergenode>
      </femerge>
    </filter>
  </svg>
</body>

</html>
