html, body, #map {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial;
}
 
#map {
  width: 100%;
  height: 200px;
}

#map svg .icon {
  cursor: pointer;
}

#map .selected {
  fill: #dd1c77;
}

.tabset .highlighted {
  background: yellow;
}

#map .popover {
  width: 200px;
  z-index: 9999999;
}
#map .ol-control, .ol-scale-line {
  z-index: 9999999;
}

.tabset .search-tab, .tabset .details-tab {
  margin: 15px;
}

.tabset .search-tab ul {
  padding: 0px;
}

.tabset .search-tab .input-group .input-group-addon {
  padding-bottom: 4px;
}

/* remove bootstrap rounded tab corners */
.tabset .nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.tabset ul {
  list-style-type: none;
}

.tabset .list {
  margin-top: 2px;
  max-height: 150px;
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #eee;
}

.tabset .feature-result {
  padding: 10px;
  cursor: pointer;
}

.tabset .feature-result:hover {
  background-color: #dd1c77;
  border: 1px solid #ddd;
  color: #fff;
}

.vcenter {
  padding: 10px 15px;
  cursor: pointer;
}

