/*----------------------------------------*/
/* map styles 
*/
html, body, #map {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial;
}
 
#map {
  width: 100%;
  height: 200px;
}

#map .popover {
  width: 200px;
  z-index: 9999999;
}

/* custom svg marker styles */
#map svg .icon {
  cursor: pointer;
}

#map svg .icon.selected {
  fill: #dd1c77;
}

/* custom zoom to extent control */
#map .ol-control, .ol-scale-line {
  z-index: 9999999;
}


/*----------------------------------------*/
/* tabs 
*/

/* remove bootstrap rounded tab corners */
.tabset .nav-tabs > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.tabset .details-tab .highlighted {
  background: yellow;
}

.tabset .search-tab, .tabset .details-tab {
  margin: 15px;
}

/* search tab */
.tabset .search-tab ul {
  list-style-type: none;
  padding: 0px;
}

.tabset .search-tab .input-group .input-group-addon {
  padding-bottom: 4px;
}

.tabset .list {
  margin-top: 2px;
  max-height: 150px;
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #eee;
}

.tabset .feature-result {
  padding: 10px;
  cursor: pointer;
}

.tabset .feature-result:hover {
  background-color: #dd1c77;
  border: 1px solid #ddd;
  color: #fff;
}

/* cancel search link */
.tabset .vcenter {
  padding: 10px 15px;
  cursor: pointer;
}